* {
    box-sizing: border-box;
    font-family: "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        "Arial",
        sans-serif;
}

body {
    width: 1512px;
    height: 1053px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 53px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;

}

h1 {
    font-family: 'jsMath-cmti10', sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
    color: #F5C800;
}

.content {
    background-color: #F8F8F8;
    padding-top: 70px;
    padding-bottom: 70px;
}
